*.sw[a-p]
*.o
*~
*.prg
*.chr
/obj/nes/*.s
/obj/nes/*.bin
/zip.in
*.nes.deb
/map.txt
/nsfmap.txt
/testroms/
__pycache__/
*.pyc
/mapperel-primary.nes
/holy-mapperel.nes
/holy-mapperel-*.zip
/holy-mapperel-bin-*.7z


# this is NES homebrew, not DSiWare
*.DS_Store


